.book-list-container {
    padding-bottom: 10px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.list-name {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #00818A;
    margin-bottom: 30px;
}

.cards-container {
    display: flex;
    gap: 15px;
    width: 100%;
    overflow-x: auto;
}

.cards {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    flex-wrap: nowrap;
}

.cards::-webkit-scrollbar{
    display: none;
}