.search-box {
    position: fixed;
    z-index: 1000;
    margin-left: 400px;
    margin-top: 20px;
    background-color: #FFFFFF;
    width: 500px;
    height: 54px;
    padding: 16px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.search-icon {
    width: 22px;
}

.search-text {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: rgba(163, 163, 163, 1);
    margin-left: 16px;
}

.search-input{
    border: none;
    width: 80%;
    height: auto;
    margin-left: 10px;
}

