.st-bar{
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0);
    width: 60%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
}

.st-mn-lnk {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    background-color: #DBEDF3;
    padding: 10px 100px;
    border-radius: 8px;
}

.st-mn-lnk:hover{
    background-color: white;
}

.st-txt{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #00818A;
    margin-bottom: 10px;
}

.active-bar{
    width: 100px;
    height: 3px;
    background-color: #DBEDF3;
    z-index: 5;
}

.st-mn-lnk.active{
    background-color: #404B69;
    
}

