.psn-info-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: rgba(219, 237, 243, 0.75);
    border-radius: 12px;
    padding: 20px
}

.profile-img {
    width: 200px;
    border-radius: 40px;
    box-shadow: 4px 6px 4px #d7d7d7;
}

.psn-info {
    margin-left: 40px;
    color: rgba(165, 165, 165, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-right: 220px;
}

.address-info {
    margin-left: 20px;
    color: rgba(165, 165, 165, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.value {
    color: #00818A;
    font-weight: bold;
}

.u-prop {
    margin: 0;
    padding: 5px;
}

.edit-btn{
    align-self: flex-start;
    margin-left: 92px;
}


